<div class="project-media">
	%%FEATUREDIMAGE crop="true" crop_width="1400" crop_height="1000"%%
</div>
<div class="project-content invert">
	<div class="project__left-col">
		%%TITLE%%
		<div class="project-meta">
			%%AUTHOR%%
		</div>
	</div>
	<div class="project__right-col">
		%%BUTTON%%
	</div>
</div>
