<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__content__header">
		%%TERMSLIST%%

		%%TITLE%%

		<div class="cherry-projects-single-meta">
			%%AUTHOR%% - %%DATE%% - %%COMMENTS%% %%EXTERNALLINK%%
		</div>
	</div>
	<div class="cherry-projects-single__media">
		%%SLIDER size="bellaina-thumb-886-670" height="670" thumbnails-width="139" thumbnails-height="105" scale-mode="cover"%%
	</div>

	<div class="cherry-projects-single__content">
		%%CONTENT%%
	</div>
	<div class="cherry-projects-single__desc">
		<div class="cherry-projects-single__desc-additional">
			%%DETAILSLIST%%
			
			%%SKILLSLIST%%
		</div>
	</div>
</div>