<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__content__header">
		%%TERMSLIST%%

		%%TITLE%%

		<div class="cherry-projects-single-meta">
			%%AUTHOR%% - %%DATE%% - %%COMMENTS%% %%EXTERNALLINK%%
		</div>
	</div>
	<div class="cherry-projects-single__media">
		%%IMAGELIST crop="true" crop_width="418" crop_height="316"%%
	</div>

	<div class="cherry-projects-single__content">
		%%CONTENT%%
	</div>
	<div class="cherry-projects-single__desc">
		<div class="cherry-projects-single__desc-additional">
			%%DETAILSLIST%%
			
			%%SKILLSLIST%%
		</div>
	</div>
</div>