<div class="project-media">
	%%FEATUREDIMAGE size="bellaina-thumb-640-483"%%

	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>

	%%TERMSLIST%%
</div>
<div class="project-content">
	<div class="project-meta">
		%%AUTHOR%% - %%DATE%% - %%COMMENTS%%
	</div>
	%%TITLE%%
	%%CONTENT number_of_words="15"%%
	%%BUTTON%%
</div>
